@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap");

body,
html {
    font-family: Red hat Display, sans-serif;
    font-weight: 400;
    line-height: 1.25em;
    letter-spacing: 0.025em;
    color: #333;
    background: #F7F7F7;
}

a {
    text-decoration: none;
    color: black;
}

.attachmentButton {
    width: 2rem;
    transform: translate(10px, 45px);
}

.backButton {
    width: 2rem;
    transform: translate(20px, 40px);
}

.sendButton {
    width: 2rem;
    transform: translate(65pc, -45px);
}

.center {
    position: absolute;
    top: 50%;
    left: calc(50% + 12rem);
    transform: translate(-50%, -50%);
}

.pic {
    width: 6rem;
    height: 4rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-left:4px;
}

.contact {
    position: relative;
    margin-bottom: 3rem;
    padding-left: 5rem;
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 600px;

}

.contact .pic {
    position: absolute;
    left: 0;
}

.contact .name {
    font-weight: 500;
    margin-bottom: 0.125rem;
    margin-left:30px;
}

.contact .message,
.contact .seen {
    font-size: 0.9rem;
    color: #999;
    margin-left:30px;
}

.contact .badge {
    box-sizing: border-box;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    font-size: 0.9rem;
    padding-top: 0.125rem;
    border-radius: 1rem;
    top: 0;
    left: 2.5rem;
    background: #333;
    color: white;
}

.contacts {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-37rem, -50%);
    width: 47rem;
    height: 32rem;
    padding: 1rem 2rem 1rem 2rem;
    box-sizing: border-box;
    border-radius: 1rem 1rem 1rem 1rem;
    cursor: pointer;
    background: white;
    box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 2rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
    transition: transform 500ms;
}

.contacts h2 {
    margin: 0.5rem 0 1.5rem 5rem;
}

.contacts .fa-bars {
    position: absolute;
    left: 2.25rem;
    color: #999;
    transition: color 200ms;
}

.contacts .fa-bars:hover {
    color: #666;
}

.contacts .contact:last-child {
    margin: 0;
}

/* .contacts:hover {
    transform: translate(-23rem, -50%);
} */

.chat {
    transform: translate(7%, 5%);
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 70rem;
    height: 40rem;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 1rem;
    background: white;
    box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
}

.chat .contact.bar {
    flex-basis: 3.5rem;
    flex-shrink: 0;
    margin: 1rem;
    box-sizing: border-box;
    width: 60pc;
    margin: 0 auto 15px auto;
}

.chat .messages {
    height: 40rem;
    padding: 1rem;
    background: #F7F7F7;
    flex-shrink: 2;
    overflow-y: auto;
    box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
}

.chat .messages .time {
    font-size: 0.8rem;
    background: #EEE;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    color: #999;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}

.chat .messages .message {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 1rem;
    background: #FFF;
    border-radius: 1.125rem 1.125rem 1.125rem 0;
    min-height: 2.25rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 66%;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
}

.chat .messages .message.parker {
    margin: 1rem 1rem 1rem auto;
    border-radius: 1.125rem 1.125rem 0 1.125rem;
    background: #333;
    color: white;
}

.chat .messages .message .typing {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0rem;
    box-sizing: border-box;
    background: #ccc;
    border-radius: 50%;
}

.chat .messages .message .typing.typing-1 {
    -webkit-animation: typing 3s infinite;
    animation: typing 3s infinite;
}

.chat .messages .message .typing.typing-2 {
    -webkit-animation: typing 3s 250ms infinite;
    animation: typing 3s 250ms infinite;
}

.chat .messages .message .typing.typing-3 {
    -webkit-animation: typing 3s 500ms infinite;
    animation: typing 3s 500ms infinite;
}

.chat .input {
    box-sizing: border-box;
    flex-basis: 4rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 0.5rem 0 1.5rem;
}

.chat .input i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #666;
    cursor: pointer;
    transition: color 200ms;
}

.chat .input i:hover {
    color: #333;
}

.chat .input input {
    border: none;
    background-image: none;
    background-color: white;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 1.125rem;
    /* flex-grow: 2; */
    width: 57pc;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
    font-family: Red hat Display, sans-serif;
    font-weight: 400;
    letter-spacing: 0.025em;
}

.chat .input input:placeholder {
    color: #999;
}


/* .card3{
    display: flex;
    justify-content: space-evenly;
} */
.card3-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
 
  width: 1000px;
  height: 100px;
  margin: 16px;
  border:1px solid rgb(226, 224, 224);
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* .card3 h3 {
  width: 250px;
  height: 150px;
} */
.pic_name{
    display:flex;
    min-width: 300px;
}

.card3 p {
  margin: 0 10px;
  flex-grow: 1;
  text-align: center;
  max-width: 300px;
}

.card3 button {
  margin-left: 10px;
  width:100px;
  height:30px;
}




@-webkit-keyframes typing {

    0%,
    75%,
    100% {
        transform: translate(0, 0.25rem) scale(0.9);
        opacity: 0.5;
    }

    25% {
        transform: translate(0, -0.25rem) scale(1);
        opacity: 1;
    }
}

@keyframes typing {

    0%,
    75%,
    100% {
        transform: translate(0, 0.25rem) scale(0.9);
        opacity: 0.5;
    }

    25% {
        transform: translate(0, -0.25rem) scale(1);
        opacity: 1;
    }
}

.pic.stark {
    background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png");
}

.pic.banner {
    background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/4/4f/BruceHulk-Endgame-TravelingCapInPast.jpg");
}

.pic.thor {
    background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/9/98/ThorFliesThroughTheAnus.jpg");
}

.pic.danvers {
    background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/0/05/HeyPeterParker.png");
}

.pic.rogers {
    background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/7c/Cap.America_%28We_Don%27t_Trade_Lives_Vision%29.png");
}


/* form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

input, select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
} */
