.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.post-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 94%;
  height:620px;
  margin: 10px auto;
  background: rgb(35, 33, 33);
  box-shadow: 0 4px 8px rgba(87, 82, 82, 0.2);
  border-radius: 5px;
  padding-top: 20px;
  /* margin-bottom:40px; */
}

.post-frame img {
  width: 95%;
  height: 500px;
  margin-bottom: 10px;
}
