/* .active {
  color:blue
} */

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:black;
  background-color: rgba(228, 243, 116, 0.814);
  height:36px;
  border:1px solid black;
}

.profile_box {
  border:1px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 5fr; 
  grid-template-rows: 500px;
  grid-gap: 10px; 
}

.grid-item {
  /* background-color: #ccc;  */
  padding: 10px; 
  border:1px solid black;
  margin:10px;

}


.second-column {
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

label {
  display: inline-block;
  margin-right:10px;

}

input {
  display: inline-block;
  margin-left:10px;
}

.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.details > div {
  display: flex;
  flex-direction: column;
}

.profile {
  background:linear-gradient(110deg, #3f37c9, #4cc9f0);
}


.profileform {
  margin: 2% 10%;
  padding : 4%;
  border:1px solid black;
  background-color: white;
}

